#### Studying Analytics (Edx Course)
___

__Date Started:__  
__Oct 16, 2018__  

__Introduction:__  
__The course is intended as an introductory tool for data Analysis using R Programming language__

#### Chapter 1 
___
Date Started: Oct 16, 2018

Content:
1. Introduction to R Programming Language (REPL environment and basic arithmetic calculation, adding comments)

Additional Content:
1. Adding Jupyter kernel support for R Lang on my machine

In [3]:
a = 10;
b = a ^ 10;
print(b)

[1] 1e+10

In [5]:
print(10)

[1] 10

In [7]:
square.root2 = 10;
print(square.root2);

[1] 10

In [17]:
c(2, 3, 4,5,5); #hi

[1] 2 3 4 5 5

#### Chapter 2
___
Date Started: Oct 16, 2018

Content:
1. Introduction to R Programming Language
  * Concept of Vector
  * Concept of data.frame
    * Adding data coulumn to data.frame

Additional Content:
1. None

In [16]:
countries = c("nepal", "india", "america", "brazil", "china");
life_expectancy = c(74, 76, 65, 83, 79);

CountryData = data.frame(countries, life_expectancy);
CountryData

CountryData$population = c(100, 134, 2432, 234234, 123);

  countries life_expectancy
1 nepal     74
2 india     76
3 america   65
4 brazil    83
5 china     79

#### Chapter 3
___
Date Started: Oct 16, 2018

Content:
1. Concept of data.frame
    * Adding multiple data.frame together to form a large datastructure.

Additional Content:
1. None

In [15]:
countries = c("nepal", "india", "america", "brazil", "china");
life_expectancy = c(74, 76, 65, 83, 79);

CountryData = data.frame(countries, life_expectancy);
CountryData$population = c(100, 134, 2432, 234234, 123);

countries = c("Australia", "Greece");
life_expectancy = c(23, 234);
population = c(234234, 234234);

newCountryData = data.frame(countries, life_expectancy, population);
all_countries = rbind(CountryData, newCountryData);

all_countries

  countries life_expectancy population
1 nepal      74                100
2 india      76                134
3 america    65               2432
4 brazil     83             234234
5 china      79                123
6 Australia  23             234234
7 Greece    234             234234

In [23]:
who = read.csv("dataset.csv");

who

  X1 X2 X3 X4 X5 X6 X7 X8 X9
1 2   4  6  8 10 12 14 16 18
2 3   6  9 12 15 18 21 24 27
3 4   8 12 16 20 24 28 32 36
4 5  10 15 20 25 30 35 40 45
5 6  12 18 24 30 36 42 48 54
6 7  14 21 28 35 42 49 56 63
7 8  16 24 32 40 48 56 64 72
8 9  18 27 36 45 54 63 72 81