# Exercise 2
  
___  

__Date Started__ : Nov 3, 2018

___

Content Details:
* Population Dynamics 
  * Analyzing Populaton Statistics 
  
___

Data Used:
 1. [CPSData](./CPSData.csv)
 1. [CountryCodes](./CountryCodes.csv)
 1. [MetropolitanAreaCodes](./MetroAreaCodes.csv)

In [31]:
# loading the content of the csv file

cps_data = read.csv('CPSData.csv')
country_codes = read.csv('CountryCodes.csv')
metro_codes   = read.csv('MetroAreaCodes.csv')

In [7]:
str(cps_data)
str(country_codes)

'data.frame':	131302 obs. of  14 variables:
 $ PeopleInHousehold : int  1 3 3 3 3 3 3 2 2 2 ...
 $ Region            : Factor w/ 4 levels "Midwest","Northeast",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ State             : Factor w/ 51 levels "Alabama","Alaska",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ MetroAreaCode     : int  26620 13820 13820 13820 26620 26620 26620 33660 33660 26620 ...
 $ Age               : int  85 21 37 18 52 24 26 71 43 52 ...
 $ Married           : Factor w/ 5 levels "Divorced","Married",..: 5 3 3 3 5 3 3 1 1 3 ...
 $ Sex               : Factor w/ 2 levels "Female","Male": 1 2 1 2 1 2 2 1 2 2 ...
 $ Education         : Factor w/ 8 levels "Associate degree",..: 1 4 4 6 1 2 4 4 4 2 ...
 $ Race              : Factor w/ 6 levels "American Indian",..: 6 3 3 3 6 6 6 6 6 6 ...
 $ Hispanic          : int  0 0 0 0 0 0 0 0 0 0 ...
 $ CountryOfBirthCode: int  57 57 57 57 57 57 57 57 57 57 ...
 $ Citizenship       : Factor w/ 3 levels "Citizen, Native",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ EmploymentStatus  : Factor w/ 5 levels "Disabled","Employed",..: 4 5 1 3 2 2 2 2 3 2 ...
 $ Industry          : Factor w/ 14 levels "Agriculture, forestry, fishing, and hunting",..: NA 11 NA NA 11 4 14 4 NA 12 ...
'data.frame':	149 obs. of  2 variables:
 $ Code   : int  57 66 73 78 96 100 102 103 104 105 ...
 $ Country: Factor w/ 149 levels "Afghanistan",..: 138 57 105 141 97 3 11 18 24 36 ...

In [13]:
summary(cps_data)
summary(country_codes)

 PeopleInHousehold       Region               State       MetroAreaCode
 Min.   : 1.000    Midwest  :30684   California  :11570   Min.   :10420
 1st Qu.: 2.000    Northeast:25939   Texas       : 7077   1st Qu.:21780
 Median : 3.000    South    :41502   New York    : 5595   Median :34740
 Mean   : 3.284    West     :33177   Florida     : 5149   Mean   :35075
 3rd Qu.: 4.000                      Pennsylvania: 3930   3rd Qu.:41860
 Max.   :15.000                      Illinois    : 3912   Max.   :79600
                                     (Other)     :94069   NA's   :34238
      Age                 Married          Sex
 Min.   : 0.00   Divorced     :11151   Female:67481
 1st Qu.:19.00   Married      :55509   Male  :63821
 Median :39.00   Never Married:30772
 Mean   :38.83   Separated    : 2027
 3rd Qu.:57.00   Widowed      : 6505
 Max.   :85.00   NA's         :25338

                   Education                   Race           Hispanic
 High school            :30906   American Indian :  1433   Min.   :0.0000
 Bachelor's degree      :19443   Asian           :  6520   1st Qu.:0.0000
 Some college, no degree:18863   Black           : 13913   Median :0.0000
 No high school diploma :16095   Multiracial     :  2897   Mean   :0.1393
 Associate degree       : 9913   Pacific Islander:   618   3rd Qu.:0.0000
 (Other)                :10744   White           :105921   Max.   :1.0000
 NA's                   :25338
 CountryOfBirthCode               Citizenship               EmploymentStatus
 Min.   : 57.00     Citizen, Native     :116639   Disabled          : 5712
 1st Qu.: 57.00     Citizen, Naturalized:  7073   Employed          :61733
 Median : 57.00     Non-Citizen         :  7590   Not in Labor Force:15246
 Mean   : 82.68                                   Retired           :18619
 3rd Qu.: 57.00                                   Unemployed        : 4203
 Max.   :555.00                                   NA's              :25789

                               Industry
 Educational and health services   :15017
 Trade                             : 8933
 Professional and business services: 7519
 Manufacturing                     : 6791
 Leisure and hospitality           : 6364
 (Other)                           :21618
 NA's                              :65060

      Code                          Country
 Min.   : 57.0   Afghanistan            :  1
 1st Qu.:152.0   Africa, not specified  :  1
 Median :235.0   Albania                :  1
 Mean   :262.8   Algeria                :  1
 3rd Qu.:362.0   Americas, not specified:  1
 Max.   :555.0   Antigua and Barbuda    :  1
                 (Other)                :143

#### Solution to problem 1: People in observation is 131302

In [119]:
# solution to the second problems

jobs = table(cps_data$Industry)
sort(jobs, decreasing = TRUE)[1]

Educational and health services
                          15017

#### Solution to problem 2 : Education and Health 15017

In [117]:
# solution to problem three (no of interviewee in a region)

sort(table(cps_data$Region))[1]
sort(table(cps_data$Region))[2]
sort(table(cps_data$Region))[3]
sort(table(cps_data$Region))[4]

Northeast
    25939

Midwest
  30684

 West
33177

South
41502

#### Solution to Problem : Max popn in south and min in Northeast

In [118]:
#solution to problem 4

us_country_code = country_codes$Code[country_codes$Country == 'United States']
cps_data[1:1,]
table(cps_data$Citizenship)
(116639+7073)/(116639+7073+7590)

  PeopleInHousehold Region State   MetroAreaCode Age Married Sex
1 1                 South  Alabama 26620         85  Widowed Female
  Education        Race  Hispanic CountryOfBirthCode Citizenship
1 Associate degree White 0        57                 Citizen, Native
  EmploymentStatus Industry
1 Retired          NA

     Citizen, Native Citizen, Naturalized          Non-Citizen
              116639                 7073                 7590

[1] 0.9421943

In [115]:
hispanic = subset(cps_data, cps_data$Hispanic == 1)
limit = 250
hispanic_races_table = tapply(hispanic$Race, hispanic$Race, length)
hispanic_races_above_limit = hispanic_races_table[hispanic_races_table>limit]
hispanic_races_above_limit[1]

American Indian
            304

In [3]:
summary(cps_data)

 PeopleInHousehold       Region               State       MetroAreaCode
 Min.   : 1.000    Midwest  :30684   California  :11570   Min.   :10420
 1st Qu.: 2.000    Northeast:25939   Texas       : 7077   1st Qu.:21780
 Median : 3.000    South    :41502   New York    : 5595   Median :34740
 Mean   : 3.284    West     :33177   Florida     : 5149   Mean   :35075
 3rd Qu.: 4.000                      Pennsylvania: 3930   3rd Qu.:41860
 Max.   :15.000                      Illinois    : 3912   Max.   :79600
                                     (Other)     :94069   NA's   :34238
      Age                 Married          Sex
 Min.   : 0.00   Divorced     :11151   Female:67481
 1st Qu.:19.00   Married      :55509   Male  :63821
 Median :39.00   Never Married:30772
 Mean   :38.83   Separated    : 2027
 3rd Qu.:57.00   Widowed      : 6505
 Max.   :85.00   NA's         :25338

                   Education                   Race           Hispanic
 High school            :30906   American Indian :  1433   Min.   :0.0000
 Bachelor's degree      :19443   Asian           :  6520   1st Qu.:0.0000
 Some college, no degree:18863   Black           : 13913   Median :0.0000
 No high school diploma :16095   Multiracial     :  2897   Mean   :0.1393
 Associate degree       : 9913   Pacific Islander:   618   3rd Qu.:0.0000
 (Other)                :10744   White           :105921   Max.   :1.0000
 NA's                   :25338
 CountryOfBirthCode               Citizenship               EmploymentStatus
 Min.   : 57.00     Citizen, Native     :116639   Disabled          : 5712
 1st Qu.: 57.00     Citizen, Naturalized:  7073   Employed          :61733
 Median : 57.00     Non-Citizen         :  7590   Not in Labor Force:15246
 Mean   : 82.68                                   Retired           :18619
 3rd Qu.: 57.00                                   Unemployed        : 4203
 Max.   :555.00                                   NA's              :25789

                               Industry
 Educational and health services   :15017
 Trade                             : 8933
 Professional and business services: 7519
 Manufacturing                     : 6791
 Leisure and hospitality           : 6364
 (Other)                           :21618
 NA's                              :65060

In [8]:
# solution to problem 2.2
# the following analysis helps in determining the presence of NA in the dataset of Married variable for each individual data.
# on the third analysis, i.e Age Vs. Married data, it appears that for age 0-14 Married variable is entirely NA, it's because that
# CPS doesn't ask for marital status for people within age group 0-14.
#
# Hence the entire reason there is presence of NA in the Married dataset is because 0-14 age group people are not asked that specific question.

table(cps_data$Region, is.na(cps_data$Married))
table(cps_data$Sex, is.na(cps_data$Married))
table(cps_data$Age, is.na(cps_data$Married))

            FALSE  TRUE
  Midwest   24609  6075
  Northeast 21432  4507
  South     33535  7967
  West      26388  6789

         FALSE  TRUE
  Female 55264 12217
  Male   50700 13121

     FALSE TRUE
  0      0 1283
  1      0 1559
  2      0 1574
  3      0 1693
  4      0 1695
  5      0 1795
  6      0 1721
  7      0 1681
  8      0 1729
  9      0 1748
  10     0 1750
  11     0 1721
  12     0 1797
  13     0 1802
  14     0 1790
  15  1795    0
  16  1751    0
  17  1764    0
  18  1596    0
  19  1517    0
  20  1398    0
  21  1525    0
  22  1536    0
  23  1638    0
  24  1627    0
  25  1604    0
  26  1643    0
  27  1657    0
  28  1736    0
  29  1645    0
  30  1854    0
  31  1762    0
  32  1790    0
  33  1804    0
  34  1653    0
  35  1716    0
  36  1663    0
  37  1531    0
  38  1530    0
  39  1542    0
  40  1571    0
  41  1673    0
  42  1711    0
  43  1819    0
  44  1764    0
  45  1749    0
  46  1665    0
  47  1647    0
  48  1791    0
  49  1989    0
  50  1966    0
  51  1931    0
  52  1935    0
  53  1994    0
  54  1912    0
  55  1895    0
  56  1935    0
  57  1827    0
  58  1874    0
  59  1758    0
  60  1746    0
  61  1735    0
  62  1595    0
  63  1596    0
  64  1519    0
  65  1569    0
  66  1577    0
  67  1227    0
  68  1130    0
  69  1062    0
  70  1195    0
  71  1031    0
  72   941    0
  73   896    0
  74   842    0
  75   763    0
  76   729    0
  77   698    0
  78   659    0
  79   661    0
  80  2664    0
  85  2446    0

#### # solution to problem 2.2
 the following analysis helps in determining the presence of NA in the dataset of Married variable for each individual data.
 on the third analysis, i.e Age Vs. Married data, it appears that for age 0-14 Married variable is entirely NA, it's because that
 CPS doesn't ask for marital status for people within age group 0-14.

 Hence the entire reason there is presence of NA in the Married dataset is because 0-14 age group people are not asked that specific question.

In [11]:
table(cps_data$State, is.na(cps_data$MetroAreaCode))

                       FALSE  TRUE
  Alabama               1020   356
  Alaska                   0  1590
  Arizona               1327   201
  Arkansas               724   697
  California           11333   237
  Colorado              2545   380
  Connecticut           2593   243
  Delaware              1696   518
  District of Columbia  1791     0
  Florida               4947   202
  Georgia               2250   557
  Hawaii                1576   523
  Idaho                  761   757
  Illinois              3473   439
  Indiana               1420   584
  Iowa                  1297  1231
  Kansas                1234   701
  Kentucky               908   933
  Louisiana             1216   234
  Maine                  909  1354
  Maryland              2978   222
  Massachusetts         1858   129
  Michigan              2517   546
  Minnesota             2150   989
  Mississippi            376   854
  Missouri              1440   705
  Montana                199  1015
  Nebraska               816  1133
  Nevada                1609   247
  New Hampshire         1148  1514
  New Jersey            2567     0
  New Mexico             832   270
  New York              5144   451
  North Carolina        1642   977
  North Dakota           432  1213
  Ohio                  2754   924
  Oklahoma              1024   499
  Oregon                1519   424
  Pennsylvania          3245   685
  Rhode Island          2209     0
  South Carolina        1139   519
  South Dakota           595  1405
  Tennessee             1149   635
  Texas                 6060  1017
  Utah                  1455   387
  Vermont                657  1233
  Virginia              2367   586
  Washington            1937   429
  West Virginia          344  1065
  Wisconsin             1882   804
  Wyoming                  0  1624

#### Solution to Problem 2.3
* Wyoming and Alaska have all of their resident living in Non-metropolitan area
* District of Columbia,New Jersey, Rhode island resident all live in metropolitan area

In [26]:
# solution to Problem 2.4

table_people_in_metro_non_metro = table(cps_data$Region, is.na(cps_data$MetroAreaCode))
table_people_in_metro_non_metro
table_people_in_metro_non_metro[5]/( table_people_in_metro_non_metro[1])
table_people_in_metro_non_metro[6]/( table_people_in_metro_non_metro[2])
table_people_in_metro_non_metro[7]/( table_people_in_metro_non_metro[3])
table_people_in_metro_non_metro[8]/( table_people_in_metro_non_metro[4])

            FALSE  TRUE
  Midwest   20010 10674
  Northeast 20330  5609
  South     31631  9871
  West      25093  8084

[1] 0.5334333

[1] 0.2758977

[1] 0.3120673

[1] 0.3221616

#### Solution to Problem 2.4: Midwest region has biggest proportion of people living in metropolitan region

In [114]:
# solution to problem 2.5, using tapply to find the proportion of city dweller above 30 % living in metropolitan area


metro_dwellers = tapply(is.na(cps_data$MetroAreaCode), cps_data$State, mean) 

sort(metro_dwellers[metro_dwellers> 0.30], decreasing = FALSE)[1]
sort(metro_dwellers[metro_dwellers> 0.30], decreasing = TRUE)[1]

South Carolina
     0.3130277

Alaska
     1

In [100]:
str(metro_codes)
str(country_codes)

# merging the metro_codes and country_codes in the cps_data with the actual values

cps_data_new = merge(cps_data, metro_codes, by.x="MetroAreaCode", by.y="Code", all.x = TRUE)
cps_data_new = merge(cps_data_new, country_codes, by.x = "CountryOfBirthCode", by.y = "Code", all.x = TRUE)

table(is.na(cps_data_new$MetroArea))
table(is.na(cps_data_new$Country))

'data.frame':	271 obs. of  2 variables:
 $ Code     : int  460 3000 3160 3610 3720 6450 10420 10500 10580 10740 ...
 $ MetroArea: Factor w/ 271 levels "Akron, OH","Albany, GA",..: 12 92 98 117 122 194 1 2 3 4 ...
'data.frame':	149 obs. of  2 variables:
 $ Code   : int  57 66 73 78 96 100 102 103 104 105 ...
 $ Country: Factor w/ 149 levels "Afghanistan",..: 138 57 105 141 97 3 11 18 24 36 ...

FALSE  TRUE
97064 34238

 FALSE   TRUE
131126    176

In [98]:
# solution to problem 3.3

sort(table(cps_data_new$MetroArea),decreasing = TRUE)[1]
sort(tapply(cps_data_new$Hispanic, cps_data_new$MetroArea, mean), decreasing = TRUE)[1]

New York-Northern New Jersey-Long Island, NY-NJ-PA
                                              5409

Laredo, TX
 0.9662921

In [99]:
# solution to determine the states where at least 20 % race is asian
asian_proportion = sort(tapply(cps_data_new$Race=='Asian', cps_data_new$MetroArea, mean), decreasing = TRUE)
asian_proportion[asian_proportion >= 0.20][1]

Honolulu, HI
   0.5019036

In [97]:
# solution to the problem to determine proportion of population who don't have high school diploma
sort(tapply(cps_data_new$Education == 'No high school diploma', cps_data_new$MetroArea, function (x) mean(x, na.rm=TRUE)), decreasing = FALSE)[1]

Iowa City, IA
   0.02912621

In [96]:
# solution to determine the most common country of birth outside of north america

sort(table(cps_data_new$Country), decreasing = TRUE)[3]

Philippines
        839

In [92]:
# solution to problem to determine states which have country of birth india, Brazil, Somalia

sort(tapply(cps_data_new$Country == 'India', cps_data_new$MetroArea, sum, na.rm=TRUE), decreasing = TRUE)[1]
sort(tapply(cps_data_new$Country == 'Brazil', cps_data_new$MetroArea, sum, na.rm=TRUE), decreasing = TRUE)[1]
sort(tapply(cps_data_new$Country == 'Somalia', cps_data_new$MetroArea, sum, na.rm=TRUE), decreasing = TRUE)[1]

New York-Northern New Jersey-Long Island, NY-NJ-PA
                                                96

Boston-Cambridge-Quincy, MA-NH
                            18

Minneapolis-St Paul-Bloomington, MN-WI
                                    17