#### Studying Analytics (Edx Course)
___

__Date Started:__  
__Nov 23, 2018__  

__Introduction:__  
__The course is intended as an introductory tool for data Analysis using R Programming language__  
__Unit : 2__  (Assignment no 4)


__Content__:  
* In this problem, we will be examining the "sales" dataset of Elantra sedans, we will try to predict monthly sales of the Hyundai Elantra in the United States. The Hyundai Motor Company is a major automobile manufacturer based in South Korea. The Elantra is a car model that has been produced by Hyundai since 1990 and is sold all over the world, including the United States. We will build a linear regression model to predict monthly sales using economic indicators of the United States as well as Google search queries.

 * Month = the month of the year for the observation (1 = January, 2 = February, 3 = March, ...).
 * Year = the year of the observation.
 * ElantraSales = the number of units of the Hyundai Elantra sold in the United States in the given month.
 * Unemployment = the estimated unemployment percentage in the United States in the given month.
 * Queries = a (normalized) approximation of the number of Google searches for "hyundai elantra" in the given month.
 * CPI_energy = the monthly consumer price index (CPI) for energy for the given month.
 * CPI_all = the consumer price index (CPI) for all products for the given month; this is a measure of the magnitude of the prices paid by consumer households for goods and services (e.g., food, clothing, electricity, etc.).


__links:__  
* NA

In [18]:
# loading the dataset

elantra_sales = read.csv('elantra.csv')

In [19]:
# Displays the structure of the dataset and displays the first 10 entries to the dataset.
str(elantra_sales)
elantra_sales[1:10, ]

'data.frame':	50 obs. of  7 variables:
 $ Month       : int  1 1 1 1 1 2 2 2 2 2 ...
 $ Year        : int  2010 2011 2012 2013 2014 2010 2011 2012 2013 2014 ...
 $ ElantraSales: int  7690 9659 10900 12174 15326 7966 12289 13820 16219 16393 ...
 $ Unemployment: num  9.7 9.1 8.2 7.9 6.6 9.8 9 8.3 7.7 6.7 ...
 $ Queries     : int  153 259 354 230 232 130 266 296 239 240 ...
 $ CPI_energy  : num  213 229 244 243 248 ...
 $ CPI_all     : num  217 221 228 231 235 ...

   Month Year ElantraSales Unemployment Queries CPI_energy CPI_all
1  1     2010  7690        9.7          153     213.377    217.466
2  1     2011  9659        9.1          259     229.353    221.082
3  1     2012 10900        8.2          354     244.178    227.666
4  1     2013 12174        7.9          230     242.560    231.321
5  1     2014 15326        6.6          232     247.575    234.933
6  2     2010  7966        9.8          130     209.924    217.251
7  2     2011 12289        9.0          266     232.188    221.816
8  2     2012 13820        8.3          296     247.615    228.138
9  2     2013 16219        7.7          239     252.639    232.599
10 2     2014 16393        6.7          240     246.389    235.169

In [20]:
# create test sets and train sets from existing data
train_set = subset(elantra_sales, elantra_sales$Year <= 2012)
test_set = subset(elantra_sales, elantra_sales$Year > 2012)

str(train_set)
str(test_set)

'data.frame':	36 obs. of  7 variables:
 $ Month       : int  1 1 1 2 2 2 3 3 3 4 ...
 $ Year        : int  2010 2011 2012 2010 2011 2012 2010 2011 2012 2010 ...
 $ ElantraSales: int  7690 9659 10900 7966 12289 13820 8225 19255 19681 9657 ...
 $ Unemployment: num  9.7 9.1 8.2 9.8 9 8.3 9.9 9 8.2 9.9 ...
 $ Queries     : int  153 259 354 130 266 296 138 281 303 132 ...
 $ CPI_energy  : num  213 229 244 210 232 ...
 $ CPI_all     : num  217 221 228 217 222 ...
'data.frame':	14 obs. of  7 variables:
 $ Month       : int  1 1 2 2 3 4 5 6 7 8 ...
 $ Year        : int  2013 2014 2013 2014 2013 2013 2013 2013 2013 2013 ...
 $ ElantraSales: int  12174 15326 16219 16393 26153 24445 25090 22163 23958 24700 ...
 $ Unemployment: num  7.9 6.6 7.7 6.7 7.5 7.5 7.5 7.5 7.3 7.2 ...
 $ Queries     : int  230 232 239 240 313 248 252 320 274 271 ...
 $ CPI_energy  : num  243 248 253 246 245 ...
 $ CPI_all     : num  231 235 233 235 232 ...

In [21]:
reg_model_1 = lm( ElantraSales ~ Unemployment + Queries + CPI_energy + CPI_all , data = train_set)
summary(reg_model_1)

Call:
lm(formula = ElantraSales ~ Unemployment + Queries + CPI_energy +
    CPI_all, data = train_set)

Residuals:
    Min      1Q  Median      3Q     Max
-6785.2 -2101.8  -562.5  2901.7  7021.0

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)   95385.36  170663.81   0.559    0.580
Unemployment  -3179.90    3610.26  -0.881    0.385
Queries          19.03      11.26   1.690    0.101
CPI_energy       38.51     109.60   0.351    0.728
CPI_all        -297.65     704.84  -0.422    0.676

Residual standard error: 3295 on 31 degrees of freedom
Multiple R-squared:  0.4282,	Adjusted R-squared:  0.3544
F-statistic: 5.803 on 4 and 31 DF,  p-value: 0.00132

In [22]:
reg_model_2 = lm( ElantraSales ~ Month + Unemployment + Queries + CPI_energy + CPI_all , data = train_set)
summary(reg_model_2)

Call:
lm(formula = ElantraSales ~ Month + Unemployment + Queries +
    CPI_energy + CPI_all, data = train_set)

Residuals:
    Min      1Q  Median      3Q     Max
-6416.6 -2068.7  -597.1  2616.3  7183.2

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  148330.49  195373.51   0.759   0.4536
Month           110.69     191.66   0.578   0.5679
Unemployment  -4137.28    4008.56  -1.032   0.3103
Queries          21.19      11.98   1.769   0.0871 .
CPI_energy       54.18     114.08   0.475   0.6382
CPI_all        -517.99     808.26  -0.641   0.5265
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 3331 on 30 degrees of freedom
Multiple R-squared:  0.4344,	Adjusted R-squared:  0.3402
F-statistic: 4.609 on 5 and 30 DF,  p-value: 0.003078

In [24]:
# data correction, correcting months data as factor

train_set$Months_factor = as.factor(train_set$Month)
test_set$Months_factor  = as.factor(test_set$Month)
# corrected model
reg_model_3 = lm( ElantraSales ~ Months_factor + Unemployment + Queries + CPI_energy + CPI_all , data = train_set)
summary(reg_model_3)

Call:
lm(formula = ElantraSales ~ Months_factor + Unemployment + Queries +
    CPI_energy + CPI_all, data = train_set)

Residuals:
    Min      1Q  Median      3Q     Max
-3865.1 -1211.7   -77.1  1207.5  3562.2

Coefficients:
                  Estimate Std. Error t value Pr(>|t|)
(Intercept)     312509.280 144061.867   2.169 0.042288 *
Months_factor2    2254.998   1943.249   1.160 0.259540
Months_factor3    6696.557   1991.635   3.362 0.003099 **
Months_factor4    7556.607   2038.022   3.708 0.001392 **
Months_factor5    7420.249   1950.139   3.805 0.001110 **
Months_factor6    9215.833   1995.230   4.619 0.000166 ***
Months_factor7    9929.464   2238.800   4.435 0.000254 ***
Months_factor8    7939.447   2064.629   3.845 0.001010 **
Months_factor9    5013.287   2010.745   2.493 0.021542 *
Months_factor10   2500.184   2084.057   1.200 0.244286
Months_factor11   3238.932   2397.231   1.351 0.191747
Months_factor12   5293.911   2228.310   2.376 0.027621 *
Unemployment     -7739.381   2968.747  -2.607 0.016871 *
Queries             -4.764     12.938  -0.368 0.716598
CPI_energy         288.631     97.974   2.946 0.007988 **
CPI_all          -1343.307    592.919  -2.266 0.034732 *
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 2306 on 20 degrees of freedom
Multiple R-squared:  0.8193,	Adjusted R-squared:  0.6837
F-statistic: 6.044 on 15 and 20 DF,  p-value: 0.0001469

In [28]:
# correlation between various datas
cor(train_set$Month, train_set$CPI_energy)
cor(train_set$Unemployment, train_set$CPI_energy)
cor(train_set$Queries, train_set$CPI_energy)
cor(train_set$CPI_all, train_set$CPI_energy)

[1] 0.1760198

[1] -0.8007188

[1] 0.8328381

[1] 0.9132259

In [30]:
cor(train_set[c("Unemployment","Month","Queries","CPI_energy","CPI_all")])

             Unemployment Month      Queries    CPI_energy CPI_all
Unemployment  1.0000000   -0.2036029 -0.6411093 -0.8007188 -0.9562123
Month        -0.2036029    1.0000000  0.0158443  0.1760198  0.2667883
Queries      -0.6411093    0.0158443  1.0000000  0.8328381  0.7536732
CPI_energy   -0.8007188    0.1760198  0.8328381  1.0000000  0.9132259
CPI_all      -0.9562123    0.2667883  0.7536732  0.9132259  1.0000000

In [31]:
reg_model_4 = lm( ElantraSales ~ Months_factor + Unemployment + CPI_energy + CPI_all , data = train_set)
summary(reg_model_4)

Call:
lm(formula = ElantraSales ~ Months_factor + Unemployment + CPI_energy +
    CPI_all, data = train_set)

Residuals:
    Min      1Q  Median      3Q     Max
-3866.0 -1283.3  -107.2  1098.3  3650.1

Coefficients:
                 Estimate Std. Error t value Pr(>|t|)
(Intercept)     325709.15  136627.85   2.384 0.026644 *
Months_factor2    2410.91    1857.10   1.298 0.208292
Months_factor3    6880.09    1888.15   3.644 0.001517 **
Months_factor4    7697.36    1960.21   3.927 0.000774 ***
Months_factor5    7444.64    1908.48   3.901 0.000823 ***
Months_factor6    9223.13    1953.64   4.721 0.000116 ***
Months_factor7    9602.72    2012.66   4.771 0.000103 ***
Months_factor8    7919.50    2020.99   3.919 0.000789 ***
Months_factor9    5074.29    1962.23   2.586 0.017237 *
Months_factor10   2724.24    1951.78   1.396 0.177366
Months_factor11   3665.08    2055.66   1.783 0.089062 .
Months_factor12   5643.19    1974.36   2.858 0.009413 **
Unemployment     -7971.34    2840.79  -2.806 0.010586 *
CPI_energy         268.03      78.75   3.403 0.002676 **
CPI_all          -1377.58     573.39  -2.403 0.025610 *
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 2258 on 21 degrees of freedom
Multiple R-squared:  0.818,	Adjusted R-squared:  0.6967
F-statistic: 6.744 on 14 and 21 DF,  p-value: 5.73e-05

In [39]:
prediction = predict(reg_model_4, newdata=test_set)

sse = sum(
          (prediction - test_set$ElantraSales)^2 
         )

sst = sum(
          (mean(train_set$ElantraSales) - test_set$ElantraSales)^2
         )

r2 = 1 - sse/sst


sse
sst
r2
max_error = abs(prediction - test_set$ElantraSales)
max(max_error)

index_of_max_error = which.max(max_error)
test_set[index_of_max_error, ]

[1] 190757747

[1] 701375142

[1] 0.7280232

[1] 7491.488

   Month Year ElantraSales Unemployment Queries CPI_energy CPI_all
14 3     2013 26153        7.5          313     244.598    232.075
   Months_factor
14 3